body,
      html {
        height: 100%;
        margin: auto;
        background-color: #3A3B3C;
        color: #FFFFF7;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: monospace;
      }

      #title {
        border-bottom: 1px dotted grey;
        font-size: 30px;
        overflow-wrap: normal;
        white-space: initial;
      }

      #subtitle {
        font-size: 25px;
        overflow-wrap: normal;
        white-space: initial;
      }

      #description {
        font-size: 20px;
        overflow-wrap: normal;
        white-space: initial;
      }

      .content {
        border-radius: 10px;
        border: 1px solid grey;
        padding-top: 5px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 800px;
        overflow-wrap: normal;
        white-space: initial;
      }